<!DOCTYPE html>

<html>
<head>
    <meta lang="ru" charset="utf-8">
    <title>{{name}}</title>
        
    <!-- build:css inline -->
    <link rel="stylesheet" href="navbar.component.css">
    <link rel="stylesheet" href="footer.component.css">
    <link rel="stylesheet" href="{{page}}.css">
    <!-- /build -->
</head>

<body>
    <!-- build:include navbar.component.html --><!-- /build -->

    <!-- Ваша разметка здесь... -->

    <!-- build:include footer.component.html --><!-- /build -->
</body>
</html>
