<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <!-- build:css inline -->
    <link rel="stylesheet" href="style.css">
    <!-- /build -->
</head>
<body>
    <!-- build:include header.component.html -->
    <!-- /build -->
</body>
</html>
