<header class="vl-main-header">
    <div class="vl-container">
        <nav class="vl-nav">
            <a href="/" class="vl-nav__site-name">velosite</a>
            <ul class="vl-nav__categories">
            {{#each nav.categories}}
                <li>
                    <button>
                        {{this.name}}<span class="vl-caret"></i>
                    </button>
                    <ul class="vl-nav-category-articles">
                        {{#each this.articles}}
                        <li><a href="/{{this.page}}">{{this.name}}</a></li>
                        {{/each}}
                    </ul>
                </li>
            {{/each}}
            </ul>
        </nav>
    </div>
</header>
