<!DOCTYPE html>
<html>
<head>
<title>{{title}}</title>
    <!-- build:css inline style.css -->
    <link rel="stylesheet" href="style.css">
    <!-- /build -->
</head>
<body>
    <div class="container">
        <h1>Текст</h1>
    </div>
</body>
</html>
