<!DOCTYPE html>

<html>
<head>
    <meta lang="ru" charset="utf-8">
    <title>Передачи</title>
        
    <!-- build:css inline -->
    <link rel="stylesheet" href="navbar.component.css">
    <!-- /build -->
</head>

<body>
    <!-- build:include navbar.component.html --><!-- /build -->

    <!-- Ваша разметка здесь... -->

</body>
</html>
