<!DOCTYPE html>

<html>
<head>
    <meta lang="ru" charset="utf-8">
    
    <!-- Open Graph разметка -->

    <meta property="og:type" content="article">
    <meta property="og:article:published_time" content="">

    <meta property="og:title" content="Типы велосипедов">

    <title>Типы велосипедов</title>
        
    <!-- build:css inline -->
    <link rel="stylesheet" href="base.css">
    <link rel="stylesheet" href="container.component.css">
    <link rel="stylesheet" href="navbar.component.css">
    <!-- /build -->
</head>

<body>
    <!-- build:include navbar.component.html --><!-- /build -->

    <!-- Ваша разметка здесь... -->
</body>
</html>
